{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">QUICKCART</h1>
      <p>Welcome to mycart– your one-stop shop for quality products at unbeatable prices! We offer a wide range of carefully curated items to meet all your lifestyle needs, from fashion and accessories to home essentials and tech gadgets. With a seamless shopping experience, secure checkout, and fast shipping, we make online shopping convenient and enjoyable. Explore today and discover the perfect products for you!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>At MyCart, our mission is to simplify and enhance the online shopping experience. We aim to offer a wide range of products that meet diverse needs—whether you're looking for trendy fashion items, household essentials, or the latest tech gadgets. We believe that shopping should be convenient, affordable, and enjoyable for everyone. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Our Quality Promise</h2>
        <p>Quality is at the heart of everything we do. Each product on MyCart is carefully curated and inspected to meet our high standards, ensuring you get the best value for your money. Our dedicated team is committed to sourcing reliable products that you can trust, so you can shop with confidence.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2> Customer Satisfaction</h2>
        <p>Our customers are our top priority. From secure checkout to prompt delivery and responsive support, we’re here to make sure your shopping experience is smooth and hassle-free. We’re always here to answer questions, resolve issues, and ensure you’re satisfied with every purchase.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2022-2026</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}